# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig

# Created by https://www.toptal.com/developers/gitignore/api/certificates
# Edit at https://www.toptal.com/developers/gitignore?templates=certificates

### certificates ###
*.pem
*.key
*.crt
*.cer
*.priv

# End of https://www.toptal.com/developers/gitignore/api/certificates

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)
*.csr
*.cnf
certs/
*.bak