[server]
authorityKeyIdentifier=keyid,issuer 
basicConstraints = critical,CA:FALSE 
extendedKeyUsage=serverAuth 
keyUsage = critical, digitalSignature, keyEncipherment 
subjectAltName = DNS:mbp.local, IP:1.1.1.1, DNS:kibana
subjectKeyIdentifier=hash